@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-title: 'Inter', sans-serif;
  --font-body: 'Lato', sans-serif;

  /* Colors for light mode */
  --primary: #1A202C;
  --accent: #4F46E5;
  --muted: #E2E8F0;
  --surface: #F7FAFC;
  --highlight: #10B981;
  --text: #4B5563;
  --heading: #374151;
  --bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Color overrides for dark mode */
    --primary: #F7FAFC;
    --accent: #818CF8;
    --muted: #2D3748;
    --surface: #1A202C;
    --highlight: #34D399;
    --text: #D1D5DB;
    --heading: #F3F4F6;
    --bg: #111827;
  }
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

.nav-link {
  @apply text-heading hover:underline transition;
}

.active {
  @apply text-accent font-semibold underline;
}

@layer components {
  p, ul {
    @apply text-text text-left sm:text-justify mb-4;
  }

  p + ul {
    @apply mt-2;
  }

  h1 {
    @apply text-3xl sm:text-4xl font-extrabold text-primary text-center sm:text-left mb-6;
  }

  h2 {
    @apply text-xl font-semibold text-primary text-center sm:text-left mt-8 mb-4;
  }

  .cta-button {
    @apply px-5 py-2 rounded-full text-sm font-medium text-accent border border-accent hover:bg-accent hover:text-bg transition;
  }
}
