---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Dávid Juhász's Portfolio" noPadding={true}>
  <div class="w-full h-full">
    <iframe
      src="https://juhaszdavid.notion.site/ebd/1d07a2153eff8022ab18e7c4208be2d9?v=1d67a2153eff80c7bf68000c92ee9408"
      class="w-full h-full border-0"
      allowfullscreen
    ></iframe>
  </div>
</BaseLayout>
