---
const {
  title
} = Astro.props;

const currentPath = Astro.url.pathname;
const isActive = (path) =>
  path === '/'
    ? currentPath === '/'
    : currentPath.startsWith(path);
---

<header class="sticky top-0 z-50 backdrop-blur bg-surface/80 px-4 py-4 border-b border-muted shadow-sm">
  <nav class="max-w-4xl mx-auto flex justify-between items-center">
    <h1 class="text-xl font-bold leading-tight mb-0">{title}</h1>
    <ul class="flex space-x-4 mb-0">
      <li>
        <a href="/" class={`nav-link ${isActive('/') ? 'active' : ''}`}>Home</a>
      </li>
      <li>
        <a href="/about" class={`nav-link ${isActive('/about') ? 'active' : ''}`}>About</a>
      </li>
      <li>
        <a href="/portfolio" class={`nav-link ${isActive('/portfolio') ? 'active' : ''}`}>Portfolio</a>
      </li>
      <!-- li>
        <a href="/blog" class={`nav-link ${isActive('/blog') ? 'active' : ''}`}>Blog</a>
      </li -->
    </ul>
  </nav>
</header>
