---
import Link from './Link';

import type { SeriesInfo } from "../hashnode-lib/schema";

const { seriesInfo }: { seriesInfo: SeriesInfo } = Astro.props;
---
<section class="nested-card">
  <Link href={`/blog/series/${seriesInfo.slug}`}>
    {seriesInfo.coverImage && (
      <div class="banner-image-container">
        <img
        src={seriesInfo.coverImage}
        alt={seriesInfo.name}
        />
      </div>
    )}
    <h3 class="text-center">{seriesInfo.name}</h3>
  </Link>
</section>
